@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: linear-gradient(145deg, #a1ffce,#05eebb,#025240);  
    color: #003d28;  
    text-shadow: 0 0 10px rgba(86, 209, 183, 0.7);  
  }
  
  ::-moz-selection {
    background: linear-gradient(145deg, #a1ffce, #05eebb,#025846);  
    color: #003d28;  
    text-shadow: 0 0 10px rgba(6, 61, 49, 0.7);  
  }

 

  #queue-container {
    height: 100vh;
  }
  
  /* Customize scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0f7fa; /* Light cyan background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00bcd4, #00838f); /* Cyan gradient */
  border-radius: 10px;
  border: 2px solid #e0f7fa; /* Adds a subtle border */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00838f, #006064); /* Darker cyan on hover */
}
